.touch-off { pointer-events: none; }
.touch-on { pointer-events: auto; }


#editContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50% 0 0 -50%;
	text-align: center;
}


#editingArea {
	text-align: center;
}

#negImg {
	display: block;
	max-width: 100%;
	height: auto !important;
}

/*Bootstrap customs*/
.navbar-default {
	background-color: #2B2B2B;
	border-color: #9E9E9E;
}

.control-buttons {
	text-align: center;
	margin: 9px;
	height: 30px;
}

#controlLower {
	display: table;
	background-color: #5A2300;
	width: 100%;
}
.sliderControl {
	width: 70%;
	background-color: #000000;
	padding: 5px 10px 30px 10px;
}

#invertMode {
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#invertMode .btn {
	display: table-cell;
	vertical-align: middle;
}

#negImg {
	width: 370px;
}

body {
	background-color: #2B2B2B;
}

